<div class="background-container px-5 overflow-hidden d-flex justify-content-center align-items-center">
    <div class="overlay z-0"></div>
    <img class="fit z-n1" ngSrc="./assets/fundo.jpg" fill priority>
    

    <div class="row gx-sm-5 gx-1 g-auto z-1 mx-md-5 mx-md-2 mb-sm-4 mb-4 overflow-md-hidden">
        <div class="col-lg d-flex justify-content-around flex-column">
            <div class="p-3 d-flex justify-content-lg-start justify-content-center align-items-center">
                <img ngSrc="./assets/logoo.jpg" width="65" height="65">
                <p class="text-logo ms-3 p-2">BarbershopConnect</p>
            </div>
            <div class="p-3 text-lg-start text-center">
                <h5 class="p-2">Agilize o Processo...</h5>
                <p class="info-text p-2">A BarbershopConnect ajuda você a se conectar e agendar serviços com a sua barbearia favorita.</p>
            </div>
        </div>
        <div class="col-sm col-11 ms-auto me-3 col-form rounded-4">
            <div class="px-2 py-lg-4 py-auto">
                <form action="">
                    <div>
                        <span class="form-span-1">BEM VINDO DE VOLTA</span>
                        <p class="form-p-1">Faça login em sua conta</p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="digite seu email">
                        <label for="email" class="label-input">Endereço de email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="email" placeholder="digite sua senha">
                        <label for="email" class="label-input">Senha</label>
                    </div>
                    <div>
                        <p class="text-center"><a class="link-opacity-50-hover" href="#">Esqueceu a senha?</a></p>
                    </div>
                    <div class="d-grid col-12 mx-auto mb-3">
                        <button  class="btn btn-bd-primary btn-lg" type="submit">Continue</button>
                    </div>
                    <div>
                        <p class="text-center"><a class="link-opacity-50-hover" href="#">Cadastre-se</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
